[package]
name = "nats"
version = "0.9.2"
description = "A Rust NATS client"
authors = ["Derek Collison <derek@nats.io>", "Tyler Neely <tyler@nats.io>", "Stjepan Glavina <stjepan@nats.io>"]
edition = "2018"
license = "Apache-2.0"
documentation = "https://docs.rs/nats"
homepage = "https://github.com/nats-io/nats.rs"
repository = "https://github.com/nats-io/nats.rs"
readme = "README.md"
keywords = ["nats", "client", "messaging", "api"]
categories = ["network-programming", "api-bindings"]

[features]
fault_injection = []

[badges]
maintenance = { status = "actively-developed" }

[profile.dev]
panic = 'abort'

[dependencies]
base64 = "0.13.0"
base64-url = "1.4.5"
crossbeam-channel = "0.5.0"
fastrand = "1.4.0"
itoa = "0.4.6"
json = "0.12.4"
log = "0.4.8"
nkeys = "0.0.11"
nuid = "0.2.1"
once_cell = "1.4.0"
parking_lot = "0.11.1"
regex = { version = "1.3.9", default-features = false, features = ["std", "unicode-perl"] }
rustls = "0.19.0"
rustls-native-certs = "0.5.0"
webpki = "0.21.3"

[target.'cfg(unix)'.dependencies]
libc = "0.2.80"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["winsock2"] }

[dev-dependencies]
criterion = "0.3.3"
env_logger = "0.8.1"
nats_test_server = { path = "nats_test_server" }
quicli = "0.4.0"
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.56"
structopt = "0.3.15"
historian = "4.0"
lazy_static = "1.4"

[[bench]]
name = "nats_bench"
harness = false

[[example]]
name = "nats-box"
path = "examples/nats-box/main.rs"

[[example]]
name = "serde-json"
path = "examples/serde-json/main.rs"

[workspace]
members = [
    ".",
    "async-nats",
]
