[package]
name = "async-nats"
authors = ["Tomasz Pietrek <tomasz@nats.io>", "Casper Beyer <caspervonb@pm.me>"]
version = "0.22.1"
edition = "2021"
rust = "1.64.0"
description = "A async Rust NATS client"
license = "Apache-2.0"
documentation = "https://docs.rs/async-nats"
homepage = "https://github.com/nats-io/nats.rs"
repository = "https://github.com/nats-io/nats.rs"
readme = "../README.md"
keywords = ["nats", "client", "messaging", "api"]
categories = ["network-programming", "api-bindings"]

[dependencies]
subslice = "0.2.3"
base64-url = "1.4.13"
bytes = "1.1.0"
futures = "0.3.21"
nkeys = "0.2.0"
once_cell = "1.10.0"
regex = "1.5.5"
serde = { version = "1.0.136", features = ["derive"] } 
serde_json = "1.0.79"
serde_repr = "0.1.7"
http = "0.2.7"
tokio = { version = "1.16.1", features = ["full"] }
itoa = "1"
url = "2"
tokio-rustls = "0.23"
rustls-pemfile = "1.0.1"
nuid = "0.3.2"
serde_nanos = "0.1.1"
time = { version = "0.3.6", features = ["parsing", "formatting", "serde", "serde-well-known"] }
rustls-native-certs = "0.6.2"
tracing = "0.1"
itertools = "0.10"
lazy_static = "1.4"
base64 = "0.13"
tokio-retry = "0.3"
ring = "0.16"

[dev-dependencies]
criterion =  { version = "0.3", features = ["async_tokio"]}
nats-server = { path = "../nats-server" }
rand = "0.8"
tokio-retry = "0.3.0"
tracing-subscriber = "0.3"


[[bench]]
name = "core_nats"
harness = false
lto = true
