[package]
name = "async-nats"
version = "0.13.0"
edition = "2021"
description = "A async Rust NATS client"
license = "Apache-2.0"
documentation = "https://docs.rs/async-nats"
homepage = "https://github.com/nats-io/nats.rs"
repository = "https://github.com/nats-io/nats.rs"
readme = "../README.md"
keywords = ["nats", "client", "messaging", "api"]
categories = ["network-programming", "api-bindings"]

[dependencies]
subslice = "0.2.3"
base64-url = "1.4.13"
bytes = "1.1.0"
futures = "0.3.21"
nkeys = "0.2.0"
once_cell = "1.10.0"
regex = "1.5.5"
serde = { version = "1.0.136", features = ["derive"] } 
serde_json = "1.0.79"
serde_repr = "0.1.7"
http = "0.2.7"
tokio = { version = "1.16.1", features = ["full"] }
tokio-util = { version = "0.7.0", features = ["codec"] }
itoa = "1"
url = "2"
tokio-rustls = "0.23"
rustls-pemfile = "0.3.0"
webpki-roots = "0.22"
nuid = "0.3.2"

[dev-dependencies]
lazy_static = "1.4.0"
regex = { version = "1.5.4", default-features = false, features = ["std", "unicode-perl"] }
url = "2.2.2"
nuid = "0.3.1"
json = "0.12"
criterion =  { version = "0.3", features = ["async_tokio"]}
nats-server = { path = "../nats-server" }


[[bench]]
name = "core_nats"
harness = false
lto = true
