name: cd

on:
  push:
    branches:
      - main

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up go
        uses: actions/setup-go@v2
        with:
          go-version: '1.19'

      - name: Install nats-server
        run: go install github.com/nats-io/nats-server/v2@latest

      - name: Install gnuplot
        run: |
          sudo apt-get update -y
          sudo apt-get install -y gnuplot

      - name: Run benchmarks
        env:
          RUST_LOG: trace
        run: |
          rustup update
          cargo bench

      - name: Archive benchmarks
        uses: actions/upload-artifact@v3
        with:
          name: benchmarks-report
          path: target/criterion
