name: Rust

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
            components: clippy
            override: true
      - run: rustup component add clippy
      - uses: actions-rs/clippy-check@v1.0.7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
  default:
    name: Cargo Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # TODO(stjepang): There's an issue with rustup installation on windows-latest.
        # Re-enable windows-latest when it gets fixed.
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: '1.14'
    - name: install nats-server
      run: go get github.com/nats-io/nats-server
    - name: cargo test
      run: |
        rustup update
        cargo test
  fault-injection:
    name: Fault Injection
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: '1.14'
    - name: install nats-server
      run: go get github.com/nats-io/nats-server
    - name: fault injection test
      run: |
        rustup update
        RUST_LOG=debug cargo test reconnect_test --features=fault_injection -- --ignored
  msrv:
    name: MSRV
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: MSRV check
      run: |
        set -eo pipefail
        echo "msrv check"
        rustup install 1.41.0
        cargo +1.41.0 check
