name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test_matrix:
    name: test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Cache rust
        uses: actions/cache@v3
        env:
          cache-name: cache-rust
        with:
          path: target
          key: ${{ runner.os }}-${{ env.cache-name }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Cache go
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod              # Module download cache
            ~/.cache/go-build         # Build cache (Linux)
            ~/Library/Caches/go-build # Build cache (Mac)
            '%LocalAppData%\go-build' # Build cache (Windows)
          key: ${{ runner.os }}-go-${{ env.cache-name }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up go
        uses: actions/setup-go@v2
        with:
          go-version: '1.16'

      - name: Install nats-server
        run: go get github.com/nats-io/nats-server/v2

      - name: Run tests
        env:
          RUST_BACKTRACE: 1
        run: |
          rustup update
          cargo test --features=unstable -- --nocapture

  test_fault-injection:
    name: test (fault-injection)
    runs-on: ubuntu-latest
    steps:
      - name: Cache rust
        uses: actions/cache@v3
        env:
          cache-name: cache-rust-fault-injection
        with:
          path: target
          key: ${{ runner.os }}-${{ env.cache-name }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Check out repository
        uses: actions/checkout@v2

      - name: Run tests with fault injection
        env:
          RUST_LOG: trace
        run: |
          rustup update
          cargo test reconnect_test --features=fault_injection -- --ignored

  check_format:
    name: check (format)
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Check format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

  check_lint:
    name: check (lint)
    runs-on: ubuntu-latest
    steps:
      - name: Cache rust
        uses: actions/cache@v3
        env:
          cache-name: cache-rust
        with:
          path: target
          key: ${{ runner.os }}-${{ env.cache-name }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy
          override: true

      - name: Check lint
        uses: actions-rs/clippy-check@v1.0.7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --tests --examples --all-features -- --deny clippy::all

  check_msrv:
    name: check (msrv)
    runs-on: ubuntu-latest
    steps:
      - name: Cache rust
        uses: actions/cache@v3
        env:
          cache-name: cache-rust
        with:
          path: target
          key: ${{ runner.os }}-${{ env.cache-name }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Check out repository
        uses: actions/checkout@v2

      - name: Check minimum supported rust Version
        run: |
          set -eo pipefail
          echo "msrv check"
          rustup install 1.58.1
          cargo +1.58.1 check

  check_examples:
    name: check (examples)
    runs-on: ubuntu-latest
    steps:
      - name: Cache rust
        uses: actions/cache@v3
        env:
          cache-name: cache-rust
        with:
          path: target
          key: ${{ runner.os }}-${{ env.cache-name }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up go
        uses: actions/setup-go@v2
        with:
          go-version: '1.16'

      - name: Install nats-server
        run: go get github.com/nats-io/nats-server/v2
      - name: Check examples
        env:
          RUST_LOG: trace
        run: |
          rustup update
          cargo check --examples

  benchmarks:
    name: benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Cache rust
        uses: actions/cache@v3
        env:
          cache-name: cache-rust
        with:
          path: target
          key: ${{ runner.os }}-${{ env.cache-name }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up go
        uses: actions/setup-go@v2
        with:
          go-version: '1.16'

      - name: Install nats-server
        run: go get github.com/nats-io/nats-server/v2
      - name: install gunplot
        run: |
          sudo apt-get update -y
          sudo apt-get install -y gnuplot
      - name: Run benchmarks
        env:
          RUST_LOG: trace
        run: |
          rustup update
          cargo bench
      - name: Archive benchmarks
        uses: actions/upload-artifact@v3
        with:
          name: benchmarks-report
          path: target/criterion

